.navbar {
    width: 100%;
    color: white;
    font-size: 14px;
    position: fixed;
    top: 0;
    z-index: 999;
    background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.3) 50%);
  }
  
  .navbar.scrolled {
    background-color: var(--main-color);
  }
  
  .navbar .container {
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
  }
  
  .navbar .container .left {
    display: flex;
    align-items: center;
  }
  
  .navbar .container .left img {
    height: 25px;
    margin-right: 40px;
  }
  
  .navbar .container .left span {
    margin-right: 20px;
    cursor: pointer;
  }
  
  .navbar .container .right {
    display: flex;
    align-items: center;
  }
  
  .navbar .container .right .icon {
    margin: 0px 15px;
    cursor: pointer;
  }
  
  .navbar .container .right img {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
  }
  
  .navbar .container .right .profile .options {
    display: none;
    background-color: var(--main-color);
    border-radius: 5px;
  }
  
  .navbar .container .right .profile span {
    padding: 10px;
    cursor: pointer;
  }
  
  .navbar .container .right .profile:hover .options {
    display: flex;
    flex-direction: column;
    position: absolute;
  }


  /* ==================== */

  /* styles for screens smaller than 768px */
@media (max-width: 767px) {
    .navbar .container {
      padding: 0px 20px;
      height: 60px;
    }
    
    .navbar .container .left img {
      height: 20px;
      margin-right: 20px;
      /* display: none; */
    }
    
    .navbar .container .left span {
      margin-right: 12px;
      font-size: 12px;
      /* color: red; */
      display: none;
    }
    
    .navbar .container .right .icon {
      margin: 0px 10px;
    }
    
    .navbar .container .right img {
      width: 25px;
      height: 25px;
    }
    
    .navbar .container .right .profile span {
      padding: 12px;
      font-size: 12px;
    }
    
    .navbar .container .right .profile .options {
      border-radius: 3px;
    }
  }
  
  /* styles for screens between 768px and 992px */
  @media (min-width: 768px) and (max-width: 991px) {
    .navbar .container {
      padding: 0px 30px;
    }
    
    .navbar .container .left img {
      height: 20px;
      margin-right: 20px;
    }
    
    .navbar .container .left span {
      margin-right: 10px;
      font-size: 12px;
    }
    
    .navbar .container .right .icon {
      margin: 0px 10px;
    }
    
    .navbar .container .right img {
      width: 25px;
      height: 25px;
    }
    
    .navbar .container .right .profile span {
      padding: 5px;
      font-size: 12px;
    }
    
    .navbar .container .right .profile .options {
      border-radius: 3px;
    }
  }
  
  /* styles for screens larger than 992px */
  @media (min-width: 992px) {
    .navbar .container {
      padding: 0px 50px;
      height: 70px;
    }
    
    .navbar .container .left img {
      height: 25px;
      margin-right: 40px;
    }
    
    .navbar .container .left span {
      margin-right: 20px;
      font-size: 14px;
    }
    
    .navbar .container .right .icon {
      margin: 0px 15px;
    }
    
    .navbar .container .right img {
      width: 30px;
      height: 30px;
      border-radius: 5px;
    }
    
    .navbar .container .right .profile span {
      padding: 10px;
      font-size: 14px;
    }
    
    .navbar .container .right .profile .options {
      border-radius: 5px;
    }
  }
  
  